aiocron==1.8
altair==5.0.1
APScheduler==3.6.3
asgiref==3.6.0
asttokens==2.0.8
async-generator==1.10
attrs==23.1.0
autopep8==1.6.0
backcall==0.2.0
blinker==1.6.2
branca==0.6.0
cachetools==4.2.2
certifi==2022.12.7
charset-normalizer==3.0.1
click==8.1.5
clip @ git+https://github.com/openai/CLIP.git@d50d76daa670286dd6cacf3bcd80b5e4823fc8e1
commonmark==0.9.1
constants==0.6.0
contourpy==1.0.5
coverage==7.0.5
croniter==1.2.0
cycler==0.11.0
dearpygui==1.7.1
decorator==5.1.1
Django==4.1.5
et-xmlfile==1.1.0
exceptiongroup==1.1.0
executing==1.1.0
folium==0.14.0
fonttools==4.37.3
freezegun==1.2.2
ftfy==6.1.1
gitdb==4.0.10
GitPython==3.1.32
gunicorn==20.1.0
h11==0.14.0
idna==3.4
imageio==2.22.0
imageio-ffmpeg==0.4.7
importlib-metadata==6.8.0
ipyplot==1.1.1
ipython==8.5.0
jedi==0.18.1
Jinja2==3.1.2
jsonschema==4.18.3
jsonschema-specifications==2023.6.1
kiwisolver==1.4.4
lpips==0.1.4
MarkupSafe==2.1.3
matplotlib==3.6.0
matplotlib-inline==0.1.6
ninja==1.10.2.4
numpy==1.23.3
opencv-python==4.6.0.66
openpyxl==3.0.10
outcome==1.2.0
packaging==21.3
pandas==2.0.3
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
prompt-toolkit==3.0.31
protobuf==3.20.1
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==12.0.1
pycodestyle==2.8.0
pydeck==0.8.1b0
Pygments==2.13.0
pymeshlab==2022.2.post2
Pympler==1.0.1
pyparsing==3.0.9
PySocks==1.7.1
python-dateutil==2.8.2
python-telegram-bot==13.15
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
referencing==0.29.1
regex==2022.9.13
requests==2.28.2
rich==12.5.1
rpds-py==0.8.10
scipy==1.9.1
selenium==4.7.2
shapely==2.0.0
shortuuid==1.0.9
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
sqlparse==0.4.2
stack-data==0.5.1
streamlit==1.24.1
streamlit-folium==0.13.0
telegram==0.0.1
tenacity==8.2.2
tensorboardX==2.5.1
toml==0.10.2
toolz==0.12.0
torch==1.12.1
torch-ema==0.3
torchvision==0.13.1
tornado==6.1
tqdm==4.64.1
trimesh==3.15.2
trio==0.22.0
trio-websocket==0.9.2
typing_extensions==4.3.0
tzdata==2023.3
tzlocal==4.1
urllib3==1.26.14
validators==0.20.0
watchdog==3.0.0
wcwidth==0.2.5
wsproto==1.2.0
XlsxWriter==3.0.7
zipp==3.16.2
